.landing {
  min-height: inherit;
  min-block-size: inherit;
  display: grid;
  place-content: center;

  .houlak-logo {
    margin-inline: auto;

    @media (prefers-reduced-motion: no-preference) {
      animation: houlak-logo-spin infinite 20s linear;
    }
  }

  @keyframes houlak-logo-spin {
    to {
      transform: rotate(360deg);
    }
  }
}
