.landing {
  .houlak-logo {
    height: 30vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .houlak-logo {
      animation: houlak-logo-spin infinite 20s linear;
    }
  }

  @keyframes houlak-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
