@use '../../styles/variables' as *;

.landing {
  text-align: center;
  background-color: $background-color;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $white;

  .houlak-logo {
    height: 30vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .houlak-logo {
      animation: houlak-logo-spin infinite 20s linear;
    }
  }

  @keyframes houlak-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
