/* Inspiration: 
- Elly Loel's reset https://gist.github.com/EllyLoel/4ff8a6472247e6dd2315fd4038926522 
- Kevin Powell resets
*/

:root {
  --scroll-padding-top: 3rem;
  --text-max-size: 65ch;
}

* {
  /* Remove default margin on everything */
  margin: 0;
  /* Remove default padding on everything */
  padding: 0;
  /* Calc `em` based line height, bigger line height for smaller font size and smaller line height for bigger font size: https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/ */
  line-height: calc(0.25rem + 1em + 0.25rem);
}

/* Use a more-intuitive box-sizing model on everything */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* dark mode user-agent-styles */
  color-scheme: dark light;
  /* Making sure text size is only controlled by font-size */
  -webkit-text-size-adjust: none;
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    /* Smooth scrolling for users that don't prefer reduced motion */
    scroll-behavior: smooth;
    /* Adds padding-top to separate from top and sticky headers */
    scroll-padding-top: var(--scroll-padding-top, 3rem);
  }
}

body {
  /* https://marco.org/2012/11/15/text-rendering-optimize-legibility */
  text-rendering: optimizeSpeed;
  /* Default min height with fallbacks */
  min-height: 100vh;
  min-block-size: 100vb;
  min-block-size: 100svb;
}

/* Improve media defaults */
:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}
:where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
}

/* Remove built-in form typography styles */
:where(input, button, textarea, select),
:where(input[type='file'])::-webkit-file-upload-button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

/* Position list marker inside */
:where(ul, ol) {
  list-style-position: inside;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
:where(ul, ol)[role='list'] {
  list-style: none;
}

/* Animate focus outline */
@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }
  :where(:not(:active)):focus-visible {
    transition-duration: 0.25s;
  }
}
:where(:not(:active)):focus-visible {
  outline-offset: 5px;
}

/* Text readability */
:where(h1, h2, h3, h4, h5, h6) {
  /* Balance headings across multiple lines into an even block */
  text-wrap: balance;
}
:where(p, li, figcaption) {
  /* Prevent text orphans (single words on last line) */
  text-wrap: pretty;
  /* Shorter text line breaks to reduce eye-shifting stress */
  max-inline-size: var(--text-max-size, 65ch);
}
:where(p, h1, h2, h3, h4, h5, h6) {
  /* Avoid text overflows */
  overflow-wrap: break-word;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
