@import "tailwindcss";

/* Custom theme variables from _variables.scss */
@theme {
  --color-background: #282c34;
  --color-white: #ffffff;
}

body {
  text-rendering: optimizeSpeed;
  /* Default min height with fallbacks */
  min-height: 100vh;
  min-block-size: 100vb;
  min-block-size: 100svb;
  /* Font family from _global.scss */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[id='root'] {
  min-height: inherit;
  min-block-size: inherit;
  display: flex;
  flex-direction: column;
}

