name: Build

on:
  pull_request:
    branches:
      - dev
      - qa
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: true
          token: ${{ secrets.GH_PAT }}

      - uses: actions/setup-node@v2
        with:
          node-version: '16.16'

      - name: Install project dependencies
        run: yarn install

      - name: Build
        if: github.ref == 'refs/heads/dev'
        run: yarn run build:dev

      - name: Build
        if: github.ref == 'refs/heads/qa'
        run: yarn run build:qa

      - name: Build
        if: github.ref == 'refs/heads/main'
        run: yarn run build:prod
